<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.gabojago">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_go"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_go_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Gabojago">

        <activity android:name=".start.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".start.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity android:name=".menu.record.calendar.CalendarActivity"
            android:screenOrientation="portrait"/>

        <!--randomPick Options-->
        <activity android:name=".menu.randomPick.wheel.WheelOptionActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.randomPick.clock.ClockOptionActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.randomPick.clock.ClockSelectActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.randomPick.number.NumberOptionActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.randomPick.number.NumberSelectActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.randomPick.number.NumberSelectNumActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".menu.randomPick.color.ColorResultActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar.Dim"
            android:screenOrientation="portrait"/>
    </application>
</manifest>